/* navigation */
.main-nav{
    width: 100%; 
}
.main-nav-inner{
   display: flex;
   justify-content: space-between;
   width: 80%;
   padding-left: 80px;
}
.logo-details{
    display: flex;
    align-items: center;
    float: left;
}
.main-nav-right{
    margin-top: 35px;
    float: right;
}
.main-nav-right .main-menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.main-nav-right .main-menu > li{
    width: 120px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px;
    align-items: center;
    list-style-type: none;
   margin-left: 15px;
}
.main-nav-right .main-menu > li:hover{
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.8);
    color: var(--secondary-dark);
}
.main-nav-right .main-menu li:nth-child(1):hover .hidden-menu{
   visibility: visible;
}
.main-menu{
    position: relative;
    margin: 0;
    padding: 0;
}
.hidden-menu{
    visibility: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;  
    z-index: 100;
}
.hidden-menu ul{
    display: flex; 
    flex-direction: column;
    margin: 0;
    width: 180px;
    padding-left: 10px;
}
.hidden-menu ul li{
    list-style-type: none;
    padding: 20px;
    color: var(--dark);
}
.hidden-menu ul > li:hover{
   color: var(--secondary-dark);
}
.collapse{
    display: none;
    transition: 5s ease;
}
.hidden-menu ul > li:hover .collapse{
    display: block;
    position: absolute;
    left: 10px;
}
.main-nav img{
   width: 55px;
}
 .logo-header p{
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-medium);
    letter-spacing: 2px;
    opacity: 0.9;
}
.logo-header span{
    color: var(--secondary-dark);
}

/* hidden navbar */
.hidden-nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.hamburger{
   color: var(--secondary-dark);
   position: relative;
   justify-content: flex-end;
   align-items: flex-end;
}
.hamburger .hamburger-menu{
   visibility: hidden;
   position: absolute;
   width: 300px;
   height: 100vh;
   background: var(--primary);
   color: var(--light);
   z-index: 1;
}
.hamburger-menu ul{
   padding:0 ;
}
.hamburger-menu ul li{
   list-style: none;
   padding: 10px 30px;
   font-size: 14px;
}
.hamburger-menu ul li:hover{
   box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.8);
   color: var(--secondary-dark);
}
 
@media only screen and (max-width: 1200px) { 
    .main-nav{
        display: none;
    }
}
@media only screen and (min-width: 1201px){
    .hidden-nav{
        display: none;
    }
}
@media only screen and (max-width: 834px) { 
   .hamburger .hamburger-menu{
       right:-200px;
   }
}
@media only screen and (max-width: 500px) { 
   .hamburger .hamburger-menu{
       right:-150px;
   }
}